/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(-45deg,#23A6D5, #23D5AB) no-repeat;
}